GEMINI_API_KEY=
SPEECHIFY_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_SECRET_KEY=
DATABASE_URL=
FLASK_SKIP_SETUP=
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
REDIS_URL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
ASAAS_ACCESS_TOKEN=
ASAAS_API_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BASE_URL=
META_APP_ID=
META_APP_SECRET=
META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
MERCADO_PAGO_ACCESS_TOKEN=
PLUGGY_CLIENT_ID=
PLUGGY_CLIENT_SECRET=
FRONTEND_URL=
TAVILY_API_KEY=
